input{
    font-size: 30px;
    margin-top: 50px;
}

.draggable > h5{
    padding: 10px;
    color: white;
}

.draggable{
    background-color: rgba(80, 80, 80, 1);
    border-radius: 3px;
    cursor: move;
    min-width: 100px;
    max-width: 225px;
    position: absolute;
    padding-bottom: 10px;
}

.dialog-option{
    display: flex;
}

.dialog-btn{
    background: linear-gradient(rgb(80, 80, 80), rgb(110, 110, 110));
    box-shadow: 0px 0px 2px black;
    color: darkgrey;
    border: 1px solid black;
    width: 80%;
    height: 30px;
    outline: none;
    margin-left: 10%;
    margin-bottom: 3px;
}

.dialog-btn.info{
    width: 20% !important;
    margin-left: 0 !important;
}

.dialog-btn:hover{
    background: rgb(200, 200, 200);
    text-shadow: 0px 0px 1px black;
    color: whitesmoke;
}

.dialog-option p{
    color: darkgrey;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 3px;
}

.dialog-option input{
    background: none;
    border: 1px solid black;
    box-shadow: 0px 0px 2px black;
    color: darkgrey;
    outline: none;
    width: 60%;
    margin-left: 10%;
    margin-bottom: 3px;
    padding-left: 5px;
}

.dialog-option.help{
    display: none;
    text-align: justify;
}