input{
    font-size: 30px;
    margin-top: 50px;
}

.draggable > h5{
    padding: 10px;
    color: white;
}

.draggable{
    background-color: rgba(80, 80, 80, 1);
    border-radius: 3px;
    cursor: move;
}

.dialog-option{
/*    width: 130px;*/
}

.dialog-btn{
    background: linear-gradient(rgb(80, 80, 80), rgb(110, 110, 110));
    box-shadow: 0px 0px 4px black;
    color: darkgrey;
    border: 1px solid black;
    width: 80%;
    outline: none;
    margin-left: 10%;
    margin-bottom: 3px;
}

.dialog-btn:hover{
    background: rgb(200, 200, 200);
    text-shadow: 0px 0px 2px black;
}

