*{
}

#map{
    width: 250px;
    height: 237px;
}

#placeholder {
    height: calc(100vh - 275px);
    background-image: url("../data/loading.gif");
    background-repeat: no-repeat;
    background-size: 15em;
    background-position: center;
    padding:0;
/*    overflow: hidden;*/
}


#myCanvas {
    height: calc(100vh - 275px);
    background-position: center;
    padding:0;
    overflow: hidden;
    visibility: hidden;
}

#tools-btns{
/*    position: absolute;*/
}

#info{
    overflow: scroll !important;
    max-height: calc(100vh - 330px);
    
/*
    border-style: solid;
    border-width: 2px;
    border-color: green;
*/
}

#anotaciones{
    overflow: scroll !important;
    max-height: calc(100vh - 330px);
}

#drag-cont{
  
    margin-top: 15px;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: blue;

}

#herramientas{
    overflow: scroll !important;
    max-height: calc(100vh - 330px);
    
/*
    border-style: solid;
    border-width: 2px;
    border-color: red;
*/
}

.tool-btn{
    width: 35px;
    height: 35px;
    padding-top: 2.25%;
    padding-left: 2.4%;
    float: left;
    background: lightgray;   
    margin: 12.5px;
    vertical-align: middle;
}

.tool-btn:active{
    color: #bbccff !important;
}

.tool-btn:hover{
    color: #bbccff !important;
}

.tool-btn div{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
/*    transition-delay: 1s;*/
    position: absolute;
    padding: 10px;
    background-color: rgba(70, 70, 70, 0.75);
    color: #fff;
    font-size: 17;
    font-weight: 200;
    margin: 30px;
}

.tool-btn:hover div {
    visibility: visible;
    opacity: 1;
    text-align: center;
}

#distances-table{
    font-size: 13px;
    display: none;
}

#distances-table th{
    text-align: center;
}

#distances-table td{
    text-align: center;
}

#desAnot {
    display:none;
}

#logout{
    transition: 0.5s;
    font-size: 15px;
}

#logout:hover{
    font-size: 20px;
}

.addExtraData{
    margin-left: 21%;
    width: 50%;
    height: 5vh;
    text-align: center;
    display: flex;
}

.addExtraData i{
/*    margin-left: 40% !important;*/
    vertical-align: text-top;
}

.addExtraData p{
    margin-top: 1% !important;
    margin-left: 2% !important;
}

.pointer{
    cursor: pointer;
}

/* -------------------------------------------- */

.mega-title
{
    width: 100% !important;
}

.project-options
{
    outline: none !important;
}

/* -------------------------------------------- */
/* sliders */

.sliders{
    width: 300px;
    position: absolute;
    display: none;
    margin: 20px;
}

.slider{
    display: flex; 
}

.rangeslider--horizontal {
    height: 10px !important;
    width: 75% !important;
    margin-left: 5px;
    margin-top: 5px;
}

.rangeslider__handle {
    width: 20px !important;
    height: 20px !important;
    margin-top: 5px !important;
}