#placeholder {
    height: calc(100vh - 275px);
    background-image: url("../data/loading.gif");
    background-repeat: no-repeat;
    background-size: 15em;
    background-position: center;
    padding:0;
    overflow: hidden;
}


#myCanvas {
    height: calc(100vh - 275px);
    background-position: center;
    padding:0;
    overflow: hidden;
    visibility: hidden;
}

#desAnot {
    display:none;
}

.addExtraData{
    margin-left: 21%;
    width: 50%;
    height: 5vh;
    text-align: center;
    display: flex;
}

.addExtraData i{
/*    margin-left: 40% !important;*/
    vertical-align: text-top;
}

.addExtraData p{
    margin-top: 1% !important;
    margin-left: 2% !important;
}

.pointer{
    cursor: pointer;
}

/* -------------------------------------------- */

.mega-title
{
    width: 100% !important;
}

.project-options
{
    outline: none !important;
}
