@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body, html{
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Ubuntu', sans-serif !important;
    background-color: rgb(235, 235, 235);
    width: 100% !important;
    height: 100% !important;
/*    overflow-y: hidden;*/
}

content{
    height: 100% !important;
}

label, p{
    color: black;
}

li a{
    color: dimgray!important;
}

li:hover > a {
    background-color: rgba(0, 0, 0, 0.2) !important;
    border: none !important;
}

button:hover{
    background-color: rgb(150, 150, 150);
}

/*********************************************************/
/* general */

.pointer{
    cursor: pointer;
}

.my-btn{
    color: aliceblue;
    background-color: rgb(62, 164, 155);
}

.my-btn:hover{
    color: aliceblue !important;
    background-color: rgb(20, 120, 120);
}

/*********************************************************/
/* inicio.php */

.textUser{
    cursor: default !important;
}

.btn{
   outline: none !important;
}

#projects-tb{
    margin-left: 5%;
    width: 90%;
}

#projects-tb tr:hover td{
    background-color: rgba(82, 184, 175, 0.5) !important;
}

.form-group > label{
    color: dimgrey !important;
}

.addExtraData > p{
    color: dimgrey !important;
}

.addExtraData{
    margin-left: 21%;
    width: 50%;
    height: 5vh;
    text-align: center;
    display: flex;
}

.addExtraData i{
/*    margin-left: 40% !important;*/
    vertical-align: text-top;
}

.addExtraData p{
    margin-top: 1% !important;
    margin-left: 2% !important;
}

/*********************************************************/
/* modelo.php */

.tablink{
    cursor: pointer;
}

.active a{
    color: black !important;
    border: none !important;
}


#map{
    width: 100%;
    height: 200px;
}

#placeholder {
    background-image: url("../data/loading.gif");
    background-repeat: no-repeat;
    background-size: 15em;
    background-position: center;
    padding:0;
    margin-top: 46px;
    height: calc(100vh - 46px);
    width: calc(100% - 350px);
/*    border: 3px solid green;*/
/*    position: absolute;*/
}

@media only screen and (max-width: 993px) {
    /* For medium and small */
    .myPlaceholder {
        width: 100% !important;
        margin-top: 110px !important;
        height: calc(100vh - 225px) !important;
    }
}

#tools{
    height: calc(100vh - 46px);
    width: 350px;
    margin-top: 46px;
}

#myCanvas {
    background-position: center;
    overflow: hidden;
/*    display: none;*/
    visibility: hidden;
    z-index: 0 !important;
/*    border: 3px solid blue;*/
    height: 100%;
    width: 100%;
}

#cont-msg{
/*    border: 3px solid red;*/
    position: absolute;
    width: 80%;
}

.messages{
    position: relative; 
    background-color: rgba(100, 100, 100, 0.6); 
    margin: 20px;
    margin-bottom: 8px;
    max-width: 45%;
    display: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding: 15px;
}

.messages.alert{
    background-color: rgba(200, 200, 90, 0.8); 
}
.messages.error{
    background-color: rgba(200, 90, 90, 0.8); 
}
.messages.help{
    background-color: rgba(100, 100, 100, 0.6); 
}
.messages.response{
    background-color: rgba(90, 90, 200, 0.7); 
}

#deleting-div{
    display: flex;
    z-index:2;
}

#entire-anot-table{
    height: 60vh !important;
    overflow-y: scroll;
}

#entire-anot-table::-webkit-scrollbar { 
    display: none; 
}

#drag-cont{
    padding: 10px;
    border-width: 3px;
    border-style: dotted;
    border-color: rgba(132, 132, 232, 0.5);
    font-weight: 300;
    text-align: center;
    -webkit-transition: all 150ms linear;
    transition: all 150ms linear;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.dragging{
    cursor: move;
}

.drag-cont-over{
/*    background: rgba(255, 0, 0, 0.1);*/
    border-style: dotted;
    border-color: rgba(255, 0, 0, 0.9) !important;
/*    color: #e3403a;*/
    text-decoration: none;
    -webkit-transition: all 250ms linear;
    transition: all 250ms linear;
}

.delimiter{
    font-size: 16px;
    font-weight: 200;
}

.tool-btn{
    width: 35px;
    height: 35px;
    padding-top: 5px;
    padding-left: 5px;
    background: lightgray;   
    margin: 2px;
    vertical-align: middle;
    color: rgb(30, 30, 30) !important;
}

.tool-btn.anot{
    margin-bottom: 5%;
    padding-top: 5px;
    padding-left: 5px;
    margin: 12.5px;
}

.tool-btn.info{
    padding-top: 6px !important;
    padding-left: 6px !important;
}

.tool-btn.info:hover{
    color: black !important;
}


.tool-btn.nodisplay{
    opacity: 0.2;
}


.tool-btn:active{
    color: #bbccff !important;
}

.tool-btn:hover{
    color: #bbccff !important;
}

.tool-btn div{
    visibility: hidden;
    transition: visibility 0s, opacity 0.3s linear;
    position: absolute;
    padding: 10px;
    background-color: rgba(70, 70, 70, 0.75);
    color: #fff;
    font-size: 17;
    font-weight: 200;
    margin-top: -50px;
    margin-left: -120px;
    z-index: 100 !important;
}

@media only screen and (max-width: 993px) {
    /* For medium and small */
    .tool-btn div{
        margin-left: 0px !important;
    }
}

.tool-btn:hover div {
    visibility: visible;
    opacity: 1;
    text-align: center;
}

.sub-btns{
    display: none;
}

.tables{
    font-size: 13px;
    display: none;
}

.tables th{
    text-align: center;
}

.tables td{
    text-align: center;
}

/* -------------------------------------------- */

.project-options
{
    outline: none !important;
}

#cardinal-axis{
    position: absolute;
    left: 72.5vw;
    width: 20vh;
    height: 20vh;
    display: none;
}

/* -------------------------------------------- */
/* text css (information) */

.kawaii{
    background-color: rgba(62, 164, 155, 0.3);
    border: 1px solid rgba(62, 164, 155, 0.7);
    border-radius: 5px;
    box-shadow: 0px 0px 3px black;
    padding: 15px;
    width: 75%;
    margin-top: 10px;
}

.kawaii.warning{
    background-color: rgba(200, 200, 0, 0.3);
}

/* -------------------------------------------- */
/* sliders */

.sliders{
    width: 300px;
    position: absolute;
    display: none;
    margin: 20px;
}

.slider{
    display: flex; 
}

.rangeslider--horizontal {
    height: 10px !important;
    width: 75% !important;
    margin-left: 5px;
    margin-top: 5px;
}

.rangeslider__handle {
    width: 20px !important;
    height: 20px !important;
    margin-top: 5px !important;
}