@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Lobster+Two|Satisfy');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');


#navDemo{
    background-color: rgba(155, 155, 155, 0.6) !important;   
    color: aliceblue !important;
}

#megatitle{
    font-family: 'Julius Sans One', sans-serif;
    padding-top: 7px !important;
    font-size: 22px;
    text-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
    color: rgb(240, 240, 240);
}

.w3-top{
    z-index: 10 !important;
}

.w3-bar{
/*    background:rgb(62, 164, 155);   */
    background: linear-gradient(to bottom, rgba(112, 214, 205,1) 0%, rgba(102, 204, 195,1) 12.5%, rgba(90, 192, 183,1) 25%, rgba(78, 180, 171,1) 50%, rgba(62, 164, 155,1) 100%);
    color: aliceblue;
    height: 46px;
    font-size: 14px;
}

.w3-bar-item.w3-button{
    text-decoration: none !important;
    height: 46px;
}

.w3-bar-item.w3-button:hover{
    background: rgba(220, 220, 220, 0.5) !important;   
    transition: linear 0.2s;
}

.w3-bar-item.w3-button.active{
    border-bottom: 3px inset rgba(255, 255, 255, 0.85) !important;
}

.w3-button.textUser{
    border-bottom: none !important;
}

.w3-button.textUser:hover{
    background: rgb(62, 164, 155) !important;   
    color: white !important;
}

