@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Lobster+Two|Satisfy');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');


#navDemo{
    background-color: rgba(155, 155, 155, 0.6) !important;   
    color: aliceblue !important;
}

#megatitle{
    font-family: 'Julius Sans One', sans-serif;
    padding-top: 7px !important;
    font-size: 22px;
    text-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
    color: rgb(240, 240, 240);
    font-weight: 700;
    margin-left: 5%;
}

.w3-top{
    z-index: 10 !important;
}

.w3-bar{
    background: linear-gradient(
        to bottom, 
        rgba(15, 15, 15, 0.85)    0%,
        rgba(15, 15, 15, 0.83)    25%, 
        rgba(15, 15, 15, 0.81)    50%, 
        rgba(15, 15, 15, 0.79)    75%, 
        rgba(15, 15, 15, 0.77)   100%
    );

    height: 46px;
    font-size: 13px;
}

.w3-bar-item.w3-button{
    text-decoration: none !important;
    background: none;
    color: white;
    height: 46px;
    margin-left: 4.5%;
}

.w3-bar-item.w3-button:hover{
    background: none !important;
    color: #aaa !important;
    transition: 0.3s;
}

.w3-bar-item.w3-button.active{
    color: #aaa;
/*    border-bottom: 3px inset rgba(255, 255, 255, 0.85) !important;*/
}

.w3-button.textUser{
    border-bottom: none !important;
}

.w3-button.textUser:hover{
    color: #aaa;
}

