@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Lobster+Two|Satisfy');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');


#navDemo{
    background-color: rgba(155, 155, 155, 0.6) !important;   
    color: aliceblue !important;
}

#megatitle{
    font-family: 'Julius Sans One', sans-serif;
    padding-top: 7px !important;
    font-size: 22px;
    text-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
    color: rgb(240, 240, 240);
}

.w3-bar{
    background-color: rgb(62, 164, 155);   
    color: aliceblue;
    height: 46px;
    font-size: 14px;
}

.w3-bar-item.w3-button{
    text-decoration: none !important;
    height: 46px;
}

.w3-bar-item.w3-button:hover{
    background: rgba(220, 220, 220, 0.5) !important;   
    transition: linear 0.2s;
}

.w3-bar-item.w3-button.active{
    border-bottom: 3px inset rgba(255, 255, 255, 0.85) !important;
}

.w3-button.textUser{
    border-bottom: none !important;
}

.w3-button.textUser:hover{
    background: rgb(62, 164, 155) !important;   
    color: white !important;
}

