/* @images */

.image{
    width: 600px;
    margin: 0 auto;
    margin-top: 10px;
}

#testing{
    height: 50px; 
    width: 200px;   
    background: linear-gradient(rgb(42, 134, 125), rgb(62, 164, 155));
    box-shadow: 0 0 2px black;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
}

#testing:hover{
    background: linear-gradient(rgb(82, 184, 175), rgb(92, 194, 185)) !important;
    color: rgb(50, 50, 50);
}

#image-url{
    height: 50px; 
    width: 200px;   
}

/* @text */
