/* @images */

.image{
    width: 600px;
    margin: 0 auto;
    margin-top: 10px;
}

.extra-btn{
/*    box-shadow: 0 0 2px black;*/
    padding-top: 12px !important;
    border: none !important;
    outline: none;
    color: gray;
    cursor: pointer;
    margin-left: 10px;
}

.extra-btn:hover{
    color: rgb(82, 184, 175);
}

#image-url{
    height: 50px; 
    width: 200px;  
    padding: 5px;
}

#url-loc{
/*    border: 3px solid red; */
    display: flex;
}

/* @text */
