@import "compass/css3";

* {
  margin:0;
  padding:0;
}

.wrap {
    width: 90%;
    margin: 0 auto;
    text-align:left;
    background: none;
    color:#8A8A8A;
    
/*    border: 3px solid red;*/
}

.css-table {
  height: 350px;
  width: 100%;
/*    border: 3px solid blue;*/
    display: table;
}

ul li {
    float:left;
    width: 25%;
    text-align:center;
    list-style-type: none;
    height: 350px;
}

a:hover{
    border-bottom: 1px solid grey;
    text-decoration: none;
}

.top {
  background-color: #DAD9D4;
  height:75px;
  
}

.top h3 {
    padding-top:10px;
  }

.circle {
  width:50px;
  height:50px;
  border-radius:50px;
  font-size:17px;
  color:#fff;
  line-height:50px;
  text-align:center;
  background:#989A8F;
  margin-left: calc(50% - 25px);
  margin-top:10px;
}

.bottom {
    margin-top:50px;
}

.blue {
  background-color:#9494CC;   
}

.white {
 color:#FFFFFF; 
}

.pink {
  background-color:#BC9B94;
}

.green {
  background-color:#94BB94;
}

@media only screen and (max-width: 993px) {
    /* For medium and small */
    ul li {
        width: 100% !important;
        height: auto;
    }

}
